/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #141313;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: #ffffff;
}

nav .logo a {
    color: #cecece;
    text-decoration: none;
    
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding-top:10px;
    gap: 45px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: #c4bfbf;
    text-decoration: none;
    font-size: 0.9em;
}




ul li .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height:70vh;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

ul li .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

ul li:hover .dropdown-content {
    display: block;
}

.dropdown-content td {
    padding: 10px 120px; /* Add padding to create spacing */
    text-align: left;
}







.hero {
    background-image: url('hero-image.jpg'); /* Add the path to your hero image */
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero img{
    width:100%;
    /*padding-top: 380px;*/
    height:100vh;
}

.hero h1 {
    font-size: 4em;
    padding-top: 100px;
}

.hero h2 {
    font-size: 2em;
    padding-top: 180px;
}

.hero h3 {
    font-size: 2em;
    padding-top: 240px;
}

.hero h3 button{
    border-radius: 500px;
    padding:10px 30px 10px 30px;
}


.hero1 {
    background-image: url('hero-image.jpg'); /* Add the path to your hero image */
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top:300px;
}

.hero1 img{
    width:100%;
    /*padding-top: 380px;*/
    height:100vh;
}

.hero1 h1 {
    font-size: 4em;
    padding-top: 700px;
}

.hero1 h2 {
    font-size: 2em;
    padding-top: 780px;
}

.hero1 h3 {
    font-size: 2em;
    padding-top: 840px;
}

.hero1 h3 button{
    border-radius: 500px;
    padding:10px 30px 10px 30px;
}



.hero2 {
    background-image: url('hero-image.jpg'); /* Add the path to your hero image */
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top:300px;
}

.hero2 img{
    width:100%;
    /*padding-top: 380px;*/
    height:100vh;
}

.hero2 h1 {
    font-size: 4em;
    padding-top: 1220px;
    color:black;
}

.hero2 h2 {
    font-size: 2em;
    padding-top: 1300px;
    color:black;
}

.hero2 h3 {
    font-size: 2em;
    padding-top: 1360px;
}

.hero2 h3 button{
    border-radius: 500px;
    padding:10px 20px 10px 20px;
}

.hero3{
    padding-top: 250px;
}



.hero4 .card-title{
text-align:bottom;
padding-top:300px;
}

.hero4 img{
    height:70vh;
}

.hero4{
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}

.hero4 p button{
    border-radius: 500px;
    padding:10px 20px 10px 20px;
}


.hero5 .card-img-overlay{
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    color:black;
}

.hero5 img{
    height:70vh;
}

.hero5{
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}


.hero5 p button{
    border-radius: 500px;
    padding:10px 30px 10px 30px;
}


.container img{
    height:90vh;
}

.hero6{
    margin-top: 60px;
    margin-bottom: 40px;
}




.footer p {
    padding-top: 70px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 10px;
  }

  .footer li {
    list-style-type: none;
    padding-top: 20px;
  }

  .footer img {
    background-color: white;
    margin-top: 50px;
    margin-right: 30px;
  }

  .footer h6 {
text-align: center;
font-size:10px;
  }
